@import url('https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-background: #3e3e3e;
  --clr-card-background: #d6c7a1;
  --clr-text: #3e3e3e;
  --clr-buttons: #f6e7c1;
  --title-font: 'Libre Baskerville';
  --text-font: 'Lato';
  --title-font-size: 2rem;
  --text-font-size: 1.1rem;
}

p,
span,
option {
  font-family: var(--text-font);
}

body {
  background-color: var(--clr-background);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options {
  display: flex;
  position: fixed;
  top: 10px;
}

.options__fontSize,
.options__colourScheme,
.options__reset {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
}

.options__fontSize p,
.options__colourScheme p {
  color: var(--clr-card-background);
}

.fontSize {
  color: var(--clr-buttons);
}

.btn {
  margin: 0 5px;
  background: transparent;
  border: transparent;
  font-size: 1rem;
  font-weight: bold;
  color: var(--clr-card-background);
  outline: transparent;
  cursor: pointer;
  transition: all 50ms ease-in;
}

.btn:nth-child(2) {
  margin-left: 15px;
}

select.btn {
  font-weight: normal;
}

select.btn option {
  background: var(--clr-background);
  color: var(--clr-card-background);
}

select.btn:hover,
select.btn:focus {
  font-weight: bold;
}

.cardContainer {
  display: flex;
  align-items: center;
}

.left,
.right {
  display: flex;
  align-items: center;
  margin: 0 10px;
  padding: 10px;
  height: 4rem;
  font-size: 4rem;
  font-weight: bold;
  color: var(--clr-card-background);
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 50ms ease-in;
}

.left:hover,
.left:focus,
.right:hover,
.right:focus,
.btn:hover,
.btn:focus {
  transform: scale(1.2);
  color: var(--clr-buttons);
}

.card {
  width: 600px;
  min-height: 300px;
  padding: 1.25em 2em;
  display: flex;
  flex-direction: column;
  color: var(--clr-text);
  background-color: var(--clr-card-background);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: var(--title-font), sans-serif;
  text-align: center;
  font-size: var(--title-font-size);
  font-weight: 900;
  line-height: var(--title-font-size);
  margin-bottom: 0.6em;
}

.card__body {
  flex-grow: 1;
}

.text {
  font-family: var(--text-font), sans-serif;
  text-align: center;
  font-size: var(--text-font-size);
  line-height: var(--text-font-size);
}
